<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Compression</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div>
            <h1>SVD Image Compression</h1>
        </div>   
    </header>
    <div class="wrapper">
        <div class="content">
            <div class="image-container">
                <div class="image-preview">
                    <div class="dropzone" id="dropzone">
                        <p>Перетащите сюда изображение</p>
                        <input id="img_dropzone" type="file" class="file-input">
                    </div>
                    <table>
                        <tr>
                            <th>Название файла: </th>
                            <td id="img_name"></td>
                        </tr>
                        <tr>
                            <th>Размер: </th>
                            <td id="img_size_1"></td>
                        </tr>
                    </table>
                </div>
                <div id="image-preview" class="image-preview">
                </div>
            </div>
            
            <div>
                <button id="compress_btn" class="action-button">Сжать</button>
                <button id="clear" class="action-button">Очистить</button>
                <div class="slider-container">
                    <div class="slider-label">0%</div>
                    <input type="range" min="0" max="100" step="10" value="50" id="slider">
                    <div class="slider-label">100%</div>
                </div>
                <div class="slider-container">
                    <div class="slider-text">Коэффицент сжатия:</div>
                    <div class="current-value">50%</div>
                </div>
            </div>
            
    
            <div class="description">
                <h2>Принципы работы SVD сжатия</h2>
                <p>Здесь будет описание метода сжатия
                    <br></br>
                </p>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 Maksim Anikeev. Все права защищены.</p>
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='./js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/clean.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/post.js') }}"></script>
</body>
</html>